In [1]:
if True:
    print('It was true!')

It was true!

In [2]:
x = False

if x:
    print('x was True!')
else:
    print('I will be printed in any case where x is not true')

I will be printed in any case where x is not true

In [7]:
loc = 'bank'

if loc=='school':
    print('you are at school')
elif loc=='bank':
    print('you are at bank')
else:
    print('where are you!')

you are at bank

In [8]:
list1 = [1,2,3,4,5,6,7,8,9,10]

In [12]:
for item in list1:
        print(item)

1
2
3
4
5
6
7
8
9
10

In [13]:
#modulo
10 % 3

1

In [14]:
18 % 7

4

In [19]:
for num in list1:
    if num % 2 == 0:
        print(num)
    else:
        print('odd number')

odd number
2
odd number
4
odd number
6
odd number
8
odd number
10

In [30]:
sum = 0 

for num in list1:
    sum += num

print(sum)

55

In [33]:
for letter in 'string':
    print(letter)

s
t
r
i
n
g

In [34]:
tup = (1, 2, 3, 4, 5)

for t in tup:
    print(t)

1
2
3
4
5

In [35]:
list2 = [(2,4),(6,8),(10,12)]

for tuple in list2:
    print(tuple)

(2, 4)
(6, 8)
(10, 12)

In [36]:
for(t1,t2) in list2:
    print(t1)

2
6
10

In [37]:
d = {'k1':1,'k2':2,'k3':3}
for item in d:
    print(item)

k1
k2
k3

In [40]:
d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [41]:
for k,v in d:
    print(v)

1
2
3

In [43]:
list(d.keys())

['k1', 'k2', 'k3']

sort(d.values())

In [44]:
d

{'k1': 1, 'k2': 2, 'k3': 3}

In [45]:
sorted(d.values())

[1, 2, 3]

In [49]:
x=0

while x < 10:
    print('x : ',x)
    x+=1

x :  0
x :  1
x :  2
x :  3
x :  4
x :  5
x :  6
x :  7
x :  8
x :  9

In [54]:
x = 0

while x < 10:
    print('x:',x)
    x+=1
    
else:
    print('All Done!')

x: 0
x: 1
x: 2
x: 3
x: 4
x: 5
x: 6
x: 7
x: 8
x: 9
All Done!

In [58]:
x = 0

while x < 10:
    print('x :',x)
    x+=1
    if x==3:
        print('x==3')
    else:
        print('continuing...')
        continue

x : 0
continuing...
x : 1
continuing...
x : 2
x==3
x : 3
continuing...
x : 4
continuing...
x : 5
continuing...
x : 6
continuing...
x : 7
continuing...
x : 8
continuing...
x : 9
continuing...

In [59]:
range(0,10)

range(0, 10)

In [62]:
list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [64]:
index_count = 0 

for letter in 'abcdef':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e
At index 5 the letter is f

In [72]:
for i,letter in enumerate('abcdef'):
    print('At index {} the letter is {}'.format(i,letter))

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e
At index 5 the letter is f

In [73]:
list(enumerate('abcedf'))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'e'), (4, 'd'), (5, 'f')]

In [80]:
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a','b','c','d','e','f']

In [81]:
zip(mylist1,mylist2)

In [82]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e'), (6, 'f')]

In [84]:
for item1, item2 in zip(mylist1,mylist2):
    print('first item is {} and second item is {}'.format(item1,item2))

first item is 1 and second item is a
first item is 2 and second item is b
first item is 3 and second item is c
first item is 4 and second item is d
first item is 5 and second item is e
first item is 6 and second item is f

In [85]:
'x' in ['x','y','z']

True

In [86]:
'x' in [1,2,3]

False

In [87]:
'x' not in ['x','y','z']

False

In [88]:
'x' not in [1,2,3]

True

In [89]:
mylist = [10,20,30,40,100]

In [90]:
min(mylist)

10

In [91]:
max(mylist)

100

In [92]:
from random import shuffle

In [96]:
shuffle(mylist)
mylist

[10, 100, 20, 40, 30]

In [97]:
from random import randint

In [102]:
#print random integer between the range
randint(0,100)

51

In [105]:
input('Enter Something into this box: ')

Enter Something into this box:  hello

'hello'

In [107]:
# Grab every letter in string
lst = [x for x in 'word']

In [108]:
lst

['w', 'o', 'r', 'd']

In [109]:
# Square numbers in range and turn into list
lst = [x**2 for x in range(0,11)]

In [110]:
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [111]:
# Check for even numbers in a range
lst = [x for x in range(11) if x % 2 == 0]

In [112]:
lst

[0, 2, 4, 6, 8, 10]

In [113]:
celsius = [0,10,20.1,34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celsius]

fahrenheit

[32.0, 50.0, 68.18, 94.1]